{% extends "base.html" %}
<!--                 -->
{% block title %}Blogs{% endblock title %}
<!--                   -->
{% block content %}
<!--            -->
<a href="{% url 'post_create' %}">+ New</a>
{% for post in post_list %}
<p><span>by {{ post.author }} | {{ post.created_at }}</span></p>
<p>
  -
  <a style="color: red; font-size: 20px" href="{% url 'post_detail' post.pk %}"
    >{{ post.title }}</a
  >
  -
</p>
<p>{{ post.content }}</p>
<p>
  <a href="{% url 'post_update' post.pk %}">Edit</a> |
  <a href="{% url 'post_delete' post.pk %}">Delete</a>
</p>
<hr />
{% endfor %}
<!--                   -->
{% endblock content %}
